altgraph==0.17
beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255208697/work
chardet @ file:///C:/ci/chardet_1607690654534/work
chatbotAI==0.3.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
conda==4.9.2
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
cryptography @ file:///C:/ci/cryptography_1607637849569/work
decorator==4.4.2
deprecation==2.1.0
docopt==0.6.2
ffmpeg-python==0.2.0
future==0.17.1
fuzzywuzzy==0.18.0
geocoder==1.38.1
geojson==2.5.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
joblib==0.17.0
loguru==0.5.3
menuinst==1.4.16
num2words==0.5.10
numpy==1.19.3
olefile==0.46
packaging==20.4
pefile==2019.4.18
Pillow @ file:///C:/ci/pillow_1603823068645/work
pvporcupine==1.8.7
pyaml==19.12.0
PyAudio @ file:///C:/Users/jfrei/AISpeechAssistant/code/10_f_weather/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycosat==0.6.3
pycountry==20.7.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyowm==3.1.1
pyparsing==2.4.7
pypiwin32==223
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-crfsuite==0.9.7
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.4
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
ratelim==0.1.6
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
ruamel-yaml==0.15.87
scikit-learn==0.22.2.post1
scipy==1.5.3
six @ file:///C:/ci/six_1605187374963/work
sklearn-crfsuite==0.3.6
snips-nlu==0.20.2
snips-nlu-de @ https://github.com/snipsco/snips-nlu-language-resources/releases/download/snips_nlu_de-0.2.3/snips_nlu_de-0.2.3.tar.gz
snips-nlu-parsers==0.4.3
snips-nlu-utils==0.9.1
sounddevice==0.4.1
SoundFile==0.10.3.post1
soupsieve==2.1
tabulate==0.8.7
text2numde==1.0
tinydb==4.2.0
tqdm @ file:///tmp/build/80754af9/tqdm_1607369919789/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
vosk==0.3.7
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
win32-setctime==1.0.3
wincertstore==0.2
wxPython==4.1.1
