{% block %}
    {% client %}(wie ist die lautstärke|wie laut ist es){% endclient %}
    {% response %}{% call getVolume: 0 %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}(lautstärke|setze lautstärke|setze lautstärke auf)(\s*)(?P<volume>.*)?{% endclient %}
    {% response %}{% call setVolume: %volume %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}lauter.*{% endclient %}
    {% response %}{% call volumeUp: %0 %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}leiser.*{% endclient %}
    {% response %}{% call volumeDown: %0 %}{% endresponse %}
{% endblock %}