{% block %}
    {% client %}(Fragespiel|Starte Fragespiel){% endclient %}
    {% response %}{% call startQuestionGame: 0 %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Ja|Nein|Wahrscheinlich|Wahrscheinlich nicht|Eher nicht){% endclient %}
	{% prev %}(Ist es lebendig?|Ist es kleiner als eine Ente?|Ist es bunt?|Kann man es essen?|Kann man es benutzen?|Wiegt es mehr als ein Stück Seife?|Hat es Schnurrhaare?|Hat es Fell?|Hat es vier Beine?|Kann es denken?|Stinkt es?|Ist es gruselig?|Ist es größer als ein Koffer?|Ist es hart?|Macht es ein Geräusch wenn man es benutzt?|Glänzt es?|Ist es wertvoll?|Strahlt es Licht aus?|Tut es weh, wenn man es berührt?|Hat es Knöpfe?|Ist es rund?|Ist es lang?|Schmeckt es gut?|Hilft es dir?|Trägt man es?|Benutzt es Wasser?){% endprev %}
    {% response %}{% call questionGameAnswer: 0 %}{% endresponse %}
{% endblock %}