appdirs==1.4.4
audioread==2.1.9
certifi==2020.6.20
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
comtypes==1.1.7
cycler==0.10.0
decorator==5.0.9
idna==3.2
inflect==5.3.0
joblib==1.0.1
kiwisolver==1.3.1
librosa==0.8.1
llvmlite==0.37.0
loguru==0.5.3
matplotlib==3.2.2
numba==0.54.0
numpy==1.20.3
packaging==21.0
Pillow==8.3.1
pooch==1.5.1
pycparser==2.20
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pywin32==228
requests==2.26.0
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
sounddevice==0.4.2
SoundFile==0.10.3.post1
threadpoolctl==2.2.0
torch==1.7.1+cu101
torchaudio==0.7.2
torchvision==0.8.2+cu101
typing-extensions==3.10.0.0
Unidecode==1.2.0
urllib3==1.26.6
win32-setctime==1.0.3
wincertstore==0.2
