{% block %}
    {% client %}(stop|halt|stopp|schweigefuchs){% endclient %}
    {% response %}{% call stop: 0 %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}.*{% endclient %}
    {% response %}{% call default_snips_nlu_handler: %0 %}{% endresponse %}
{% endblock %}