{% block %}
    {% client %}(Passwort) (?P<entry>.*){% endclient %}
    {% response %}{% call getPassword: %entry %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}(Benutzer|Benutzername) (?P<entry>.*){% endclient %}
    {% response %}{% call getUsername: %entry %}{% endresponse %}
{% endblock %}